new.html.erb

Product entry form for creating new entry.
<form action="/products" method="post">
  <p>enter the product name<input type="text" name="name"></p>
  <p>enter the description<input type="text" name="description"></p>
  <p>enter the price<input type="text" name="price"></p>
  <p>enter the supplier ID <select name="supplier_id">
    <option value="1">Apple
    <option value="2">LG</p> 
  <input type="submit">

</form>

